.game-board {
    /* background-color: black; */
     background-image: url('../../vscode.png');
    background-size: cover;
    height: 100%;
     width: 100%;
     position: relative;
  }
  
  .ghost {
    background-image: url('../../ghost.svg');
    background-size: cover;
    position: absolute;
    height: 40px;
    width: 40px;
    fill: white; 
}

.hidden {
  display: none;
}

@keyframes twinkle {
    0%   { opacity: 1; }
    50%  { opacity: -1; }
    100% { opacity: 1; }
  }