.GithubUser {
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GithubUser__username {
    height: 8vh;
    max-width: 8vh;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.GithubUser__image {
    color: white; /* for alt text */
    height: 8vh;
    max-width: 8vh;
    border-radius: 50%;
}